html, body {
	height: 100%;
	box-sizing: border-box;
	padding: 1%;
}

body {
	background: linear-gradient(#446, #79A);
}




#map {
  height: 65%;
  width: 50%;
  margin: 2% auto;

  border: 1px solid black;
}



#controls {
	height: 25%;
	margin: 0 auto;
  background: linear-gradient(#EBE, #FEF);
	border: 1px solid black;
}